[defaults]
inventory = inventory.ini
roles_path = roles
retry_files_enabled = False
callback_result_format = yaml
ansible_managed = Managed by kali-setup (github.com/Ari-Weinberg/kali-setup)
nocows = True

[privilege_escalation]
become_method = sudo
